.underline-background {
    position: relative;
  }
  
  .underline-background::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0; /* Align to the bottom of the text */
    height: 10px; /* Height of the background underline */
    background-color: black; /* Background color for the underline */
    z-index: -1; /* Place it behind the text */
    border-radius: 2px; /* Add slight curve for style */
  }
  .underline-background {
    letter-spacing: 2px; /* Adjust the value as needed */
  }
  