/* Basic styles */
.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Instagram hover effect */
.insta-hover {
    transition: transform 0.3s ease, filter 0.3s ease;
}

.insta-hover:hover {
    filter: brightness(1.2);
    transform: scale(1.1); /* Slightly enlarge the icon on hover */
}

.insta-hover:hover {
    background: linear-gradient(45deg, #f58529, #dd2a7b, #8134af, #fd1d1d);
    -webkit-background-clip: text;
    color: transparent;
}
.logoImg{
  display: block;
}

/* Responsive layout for screens from 480px to 320px */
@media (max-width: 480px) and (min-width: 320px) {
  .flex {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;  /* Center-align text for this screen size */
  }
  
  /* Adjust section widths to full width */
  .phone-email-section, .social-media-section {
    width: 100%;  /* Make each section take full width */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;  /* Align items horizontally */
    margin-bottom: 10px;
  }
  
  .wrapper {
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
  }

  .space-x-10 {
    gap: 10px;  /* Reduce spacing between icons */
  }

  .text-black {
    font-size: 12px; /* Make text smaller for smaller screens */
    line-height: 1.2; /* Adjust line height for better readability */
  }
  .logoImg{
    /* display: none; */
  }
  
.text{
  font-size: 8px;
} 
  /* Social media icons adjustment */
  .social-media-section .wrapper {
    gap: 2px;  /* Reduce spacing between icons */
  }

  /* Adjust Phone and Email section */
  .phone-email-section {
    margin-bottom: 0; 
  }
}

@media (min-width: 314px) and (max-width: 480px) {
  .phone-email-section{
    margin-left: 1%;
  }
}
