  

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(20px); /* Start with the text below */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* End with the text in place */
  }
}

@keyframes slideInDelay {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Animation class names */
.animateSlidein300 {
  animation: slideIn 1.5s ease-out forwards;
}

.animateSlidein500 {
  animation: slideInDelay 1.5s ease-out forwards 0.5s; /* Adds delay */
}


/* Target screens smaller than 600px */
/* Target screens smaller than 600px */ 
@media (max-width: 600px) {
  .heroSubText {
    text-align: center;  /* Center the text */
  }

  .heroSubText .text-white {
    font-size: 0.875rem;  /* Set font size smaller (14px equivalent) */
  }

  .heroSubText img {
    width: 1.25rem;  /* Adjust image size for responsiveness */
  }

  .heroSubText span {
    white-space: nowrap;  /* Prevent text wrapping */
    display: inline-block; /* Ensure the text is inline */
  }
  .flex {
    justify-content: center; /* Center the content horizontally */
    align-items: center;     /* Center the content vertically */
    height: 100vh;           /* Make the div take full viewport height */
  }

  .text-base {
    font-size: 0.75rem;  /* Set text size to xs (12px) on smaller screens */
  }
  .text-white {
    font-size: 0.75rem;  /* Text size xs (12px equivalent) */
  }
  .text-left {
    font-size: 0.75rem;  /* Set text size to xs (12px equivalent) for screens between 600px to 414px */
  }

}


/* Shine effect animation */
@keyframes shine {
  0% {
    background-position: -100%;
  }
  100% {
    background-position: 100%;
  }
}

.shine-effect {
  display: inline-block;
  position: relative;
  background-image: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0.3) 25%,
    rgba(255, 255, 255, 0.6) 50%,
    rgba(255, 255, 255, 0.3) 75%
  );
  background-size: 200% 100%;
  background-position: -100%;
  animation: shine 2s infinite;
}

.shine-effect span {
  position: relative;
  z-index: 1;
}


