.cube div span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  border: 2px solid #DC143C; /* Lighter border color (light gray) */
  transform: rotateY(calc(90deg * var(--i))) translateZ(150px);
  transition: transform 1s ease-in-out;
}

.topD {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  background: transparent;
  border: 2px solid #B0BEC5; /* Lighter border color */
  transform: rotateX(90deg) translateZ(150px);
}

.topD::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  background: transparent;
  border: 2px solid #B0BEC5; /* Lighter border color */
  transform: translateZ(-400px);
  filter: blur(20px);
  box-shadow: 0 0 60px rgba(176, 190, 197, 0.2), /* Light glow */
    0 0 100px rgba(176, 190, 197, 0.4), 0 0 200px rgba(176, 190, 197, 0.6);
}

.cube2 div span {
  position: absolute;
  top: 20%;
  left: 20%;
  width: 65%;
  height: 65%;
  background: transparent;
  border: 2px solid #f5335a; /* Lighter border color */
  transform: rotateY(calc(90deg * var(--i))) translateZ(62px);
}

.cube3 div span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  transform: rotateY(calc(90deg * var(--i))) translateZ(14px);
  box-shadow: 0px 0px 7px #ee758d; /* Lighter shadow for the cube */
}

/* Hero.module.css */ 

/* Keyframe animation definitions */

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(20px); /* Start with the text below */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* End with the text in place */
  }
}

@keyframes slideInDelay {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Animation class names */
.animateSlidein300 {
  animation: slideIn 1.5s ease-out forwards;
}

.animateSlidein500 {
  animation: slideInDelay 1.5s ease-out forwards 0.5s; /* Adds delay */
}
